<body class="body-about">

 <%- include('./partials/navbar', {active: "About"}); %><br>

<div class="row">
<div class="col-lg-12 col-md-12 text-center">
  
  <div class="about-pic"> <img src="/public/img/logo.png" alt="">
</div>
  <br/><br/>
  <div class="box1">
    SINCE LAUNCHING IN MARCH 2021, <span class="highl">ELLNOT </span> HAS ESTABLISHED ITSELF AS ONE OF THE<span class="highl"> WORLD'S LARGEST</span> FASHION COMPANY.
      OUR DESIGNS ARE INSPIRED BY CENTURIES OF FASHION, <br/><br/> WE ARE PUSHING THE BOUNDARIES OF THE TRADITIONAL FASHION AND OFFERING A NEVER SEEN BEFORE HIGH FASHION QUALITY APPAREL.
 
    </div>
  <div class="box2"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>  <br>
  Winner of: World Fashion Awards 2021 </div>
  

<div class="col-md-offset-6 col-lg-offset-6">
  <center><h1 class="about-h1">ABOUT ELLNOT</h1></center><br/><br/>
  <h2> <span class="highl">Ellnot</span> is a unique fashion company which currently operates their business through their outlet on the high street.
    Aimed at the female market, we sell various top-of-the-range products. These include: tops, skirts, trousers, jackets, dresses, knitwear, petticoats, plus-size garments, vintage items, scarves and hats as well as accessories including bags, purses and jewellery. <br/><br/>
    Our team works around-the-clock to bring you the <span class="highl">world’s hottest styles.</span><br/><br/> We forecast fashion trends before anyone else, and introduce 1,000+ new arrivals to our site every week! We listen to our customers and are always finding innovative ways to improve and deliver the most coveted styles at a moment’s notice.
    <br/><br/>
    We L<span class="highl">&hearts;</span>VE Your Style!
    <br/><br/>
    <p></p>
    <p><span style="text-align:right; color:#000000; font-size:18px;"></span></p>
  </h2>
</div>
</div>   
  <%- include('./partials/footer'); %>
</footer>
</body>
</html>