
<body class="body-display">

 <%- include('./partials/navbar', {active: "Home"}); %><br>
 <div class="jumbotron  cont text-center text-white">
  <img class="img-fluid logo" src="/public/img/logo.png" alt="logo, woman and flowers" srcset="">
 <br><br> <br><br>

 <div class="container">
	<div class="row">
		<div class="col-md-4"><img class="intro-gallery-pic" src="/public/img/pink-hair-model.jpg" alt="model with pink hair and red jacket" srcset=""></div>
		<div class="col-md-4"><img class="intro-gallery-pic" src="/public/img/grayscale-fashion-model.jpg" alt="greyscale effect pic model with white t-shirt" srcset=""></div>
		<div class="col-md-4"><img class="intro-gallery-pic" src="/public/img/pink-bed-model.jpg" alt="model wearing pink on pink bed" srcset=""></div>
	</div>
	<div class="row">
		<div class="col-md-6"><img class="intro-gallery-pic" src="/public/img/flowers-pink-model.jpg" alt="model with hat under purple flowers tree" srcset=""></div>
		<div class="col-md-6 "><img class="intro-gallery-pic" src="/public/img/grayscale-chair-model.jpg" alt="model with leather jacket" srcset=""></div>
		
	</div>
	<div class="row">
		<div class="col-md-3 mt-1"><img class="intro-gallery-pic" src="/public/img/gray-scale-black-t-shirt.jpg" alt="model with dark t-shirt" srcset=""></div>
		<div class="col-md-3 mt-1"><img class="intro-gallery-pic" src="/public/img/pink-floor-model.jpg" alt="model on purple floor" srcset=""></div>
		<div class="col-md-3"><img class="intro-gallery-pic" src="/public/img/pink-smoke.jpg" alt="model with pink smoke in the background" srcset=""></div>
		<div class="col-md-3"><img class="intro-gallery-pic" src="/public/img/greyscale-field.jpg" alt="model with dark clothes greyscale" srcset=""></div>
	</div>
</div>
</div>
<main class="main-display">  
  <div class="jumbotron jumbotron-fluid category-cont bg-transparent">


  <!-- Navbar brand -->
  <div class="container d-flex text-center text-align"><span class="navbar-brand cat-brand"><img class="img-fluid" src="/public/img/logo.png" alt="" srcset=""></span></div>
  
<!--Navbar-->
<nav class="navbar category-nav navbar-expand-lg navbar-light">


  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseCatElements"
    aria-controls="collapseCatElements" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse " id="collapseCatElements">
  <!-- Links -->

<ul id="tabs" class="navbar-nav">
  <li class="nav-item active">
    <a id="all"  class="category-nav-link cat-link active ">All</a>
  </li>
  <li class="nav-item">
    <a id="tops" class="category-nav-link cat-link">Tops</a>
  </li>
  <li class="nav-item">
    <a id="skirts" class="category-nav-link cat-link">Skirts</a>
  </li>
  <li class="nav-item">
    <a id="trousers" class="category-nav-link cat-link">Trousers</a>
  </li>
<li class="nav-item">
    <a id="jackets" class="category-nav-link cat-link">Jackets</a>
  </li>
  <li class="nav-item">
    <a id="dresses" class="category-nav-link cat-link">Dresses</a>
  </li>
  <li class="nav-item">
    <a id="knitwear" class="category-nav-link cat-link">Knitwear</a>
  </li>
  <li class="nav-item">
    <a id="petticoat" class="nav-right-li cat-link">Petticoat</a>
  </li>
   <li class="nav-item">
    <a id="plus-size" class="nav-right-li cat-link">+ Size </a>
  </li>
<li class="nav-item">
    <a id="garments" class="nav-right-li cat-link">Garments</a>
  </li>
  <li class="nav-item">
    <a id="vintage" class="nav-right-li cat-link">Vintage</a>
  </li>
  <li class="nav-item">
    <a id="scarves-hats" class="nav-right-li cat-link">Scarves & Hats</a>
  </li>
  <li class="nav-item">
    <a id="accessories " class="nav-right-li cat-link" >Accessories</a>
  </li>
</ul>
      </nav> <!-- Links -->    
     <div class="d-flex justify-content-center">
    <div class="form-group">
 <form class="form-inline">
              <input id="searchbar" name="search" class="form-control mt-4 mr-4" type="text" placeholder="Search Products" aria-label="Search">
            </div>
          </form>
        <!-- Collapsible content -->
        <select class="products-sorting  form-control mt-4 w-25 "  name="products-sorting">
          <option selected disabled>Sort By</option>
          <option value="type">Type</option>
          <option value="l2h">Price Low to high</option>
          <option value="h2l">Price High to low</option>
          <option value="size">Size</option>

      </select></div>        </div>

      <!--/.Navbar-->
</div></div>
 <!--Section: Products v.3-->
      <section  id='list' class="text-center products-grid ">
        <div class="row main-row-products ">
        <!--Grid row-->
          <!--Grid column-->
 
            <!--Card-->
            <div data-category="1" data-size="4" data-price="9" id="1" class="card product tops">
              <!--Card image-->
        <div class="d-flex justify-content-center">        
      <img id="main-image" class="product-image card-img-top" src="/public/img/products/t-shirt1.jpg" 
        alt="Model With Black T-shirt with bones"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="thumbnail1" src="https://images.unsplash.com/photo-1503340588524-222d094c7066?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=751&q=80"> <img id="thumbnail2" src="/public/img/products/t-shirt1.jpg "> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a class="i-title">
        <h5 class="product-title item">Bad To The Bone T-Shirt</h5>
       <p class="text-muted category-txt">Tops</p>
      </a>
      <div class="item-details">
      <h4 class="item-price">
        <strong>£ 9</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="4" >
     <span>4</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="6"> 
        <span>6</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="9"> <span>9</span> </label>
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            
            <!--Card END-->
          </div>
          <!--Grid column END-->
 <!--Grid column START-->
 

  <!--Card NEW CARD-->
  
     <div data-size="1" data-category="11" data-price="8" id="11" class="card product scarves-hats">
          <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard2" class="product-image card-img-top" src="https://images.unsplash.com/photo-1604957393207-ae2e36c6a56d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" 
        alt="Model With cowboy hat"> </div> 
         <div class="mt-2 thumbnail text-center"> <img id="t1Card2" src="https://images.unsplash.com/photo-1525097248995-51d63b085896?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="cowboy hat"> <img id="t2Card2" src="https://images.unsplash.com/photo-1604957393207-ae2e36c6a56d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="Model With cowboy hat"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item">Cowboy Hat</h5>
        <p class="text-muted category-txt">Scarves & Hats</p>
      </a>
      <div class="item-details">
      <h4 class="item-price">
        <strong>£ 8</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size"  type="radio" name="size" value="1" >
     <span>One Size</span></label> 
     
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->

</div>
<!--Grid column-->

 <!--Grid column-->
 

  <!--Card-->
 
  <div data-size="10" data-category="3" data-price="19" id="3" class="card product trousers">

           <!--Card image-->
       <div class="d-flex justify-content-center">          
      <img id="mainImageCard3" class="product-image card-img-top" src="https://images.unsplash.com/photo-1599505043460-025f45a0041a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80"alt="model with emerald green trousers"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card3" alt="model with emerald green trousers" src="https://images.unsplash.com/photo-1599505043552-fa95de5548ac?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fHRyb3VzZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60 0" class="product-image"> <img id="t2Card3" alt="model with emerald green trousers" src="https://images.unsplash.com/photo-1599505043460-025f45a0041a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" alt="model with emerald green trousers"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
       <a  class="i-title">
        <h5 class="product-title item"> Emerald Trousers</h5>
      </a>
      <p class="text-muted category-txt">Trousers </p>
      <div class="item-details">
      <h4 class="item-price">
        <strong>£ 19</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
     <input class="input-size"  type="radio"
        name="size" value="10"> 
        <span>10</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="12"> <span>12</span> </label>
     
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->

</div>
<!--Grid column-->

 <!--Grid column-->
    
    
    
    
    
    
 
  <div data-size="1" data-category="11" data-price="7" id="11" class="card product scarves-hats ">

       <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img alt="model with red scarf" id="mainImageCard4" class="product-image card-img-top" src="https://images.unsplash.com/photo-1585237017201-d3277b4528b1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" 
        alt="model with red scarf"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card4" src="https://images.unsplash.com/photo-1585237017112-afd1b402e4dc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="model with red scarf"> <img id="t2Card4" alt="model with red scarf" src="https://images.unsplash.com/photo-1585237017201-d3277b4528b1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80 "> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Flossy Red Scarf</h5>
      </a>
      <div class="item-details">
      <p class="text-muted category-txt">Scarves & Hats</p>
      <h4 class="item-price">
        <strong>£ 7</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="1" >
     <span>One Size</span></label> 
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>

<!--Grid column-->
 <!--Grid column-->
 

  <!--Card-->
 
<div data-size="10" data-price="49" data-category="4" id="4" class="card product jackets">
    <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img alt="model with jeans jacket" id="mainImageCard5" class="product-image card-img-top" src="https://images.unsplash.com/photo-1501731591184-5e6c16e4cede?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" 
        alt=""> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card5" alt="model with jeans jacket" src="https://images.unsplash.com/photo-1501194729547-1672eb098b5b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80"> <img alt="model with jeans jacket" id="t2Card5" src="https://images.unsplash.com/photo-1501731591184-5e6c16e4cede?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80 "> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item">Jeansadora Jacket</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Jackets</p>
      <h4 class="item-price">
        <strong>£ 49</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="10">
     <span>10</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="12"> 
        <span>12</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="14"> <span>14</span> </label>
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->

</div>
<!--Grid column-->
          <!--Grid column-->
 
 <!--Card-->


<!--Card new-->

 <div data-size="6" data-price="59" data-category="5" id="5" class="card product dresses">
   <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard6" class="product-image card-img-top" src="https://images.unsplash.com/photo-1592019963969-ebd37f7e1e92?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80" 
       alt="model with white dress"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card6" src="https://images.unsplash.com/photo-1592020051126-c240d2aaa98b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=333&q=80" alt="model with white dress"> <img id="t2Card6" src="https://images.unsplash.com/photo-1592019963969-ebd37f7e1e92?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80 " alt="model with white dress">  </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Dusk Dress
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Dresses</p>
      <h4 class="item-price">
        <strong>£ 59</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="6">
     <span>6</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="8"> 
        <span>8</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="10"> <span>10</span> </label>
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>
            
          <!--Grid column-->
<!--Card-->


<!--Card new-->

 <div data-size="8" data-price="26" data-category="9" id="9" class="card product garments">
   <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard7" class="product-image card-img-top" src="https://images.unsplash.com/photo-1557776198-8b17010cbbb7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" 
        alt="Model with white garment"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card7" src="https://images.unsplash.com/photo-1568381478053-82d1ba959b6c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" > <img id="t2Card7"  alt="Model with white garment" src="https://images.unsplash.com/photo-1557776198-8b17010cbbb7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80"  alt="Model with white garment"> 
        </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Admire Garment
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Garments</p>
      <h4 class="item-price">
        <strong>£ 26</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="8">
     <span>8</span></label> 
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="12"> <span>12</span> </label>
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>
          <!--Grid column-->

<!--Card-->


<!--Card new-->

 <div data-size="1" data-price="29" data-category="12" id="12" class="card product accessories ">
   <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard8" class="product-image card-img-top" src="/public/img/products/sunglasses-1.jpg" 
        alt="Blue and green effect sunglasses"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img  alt="Blue and green effect sunglasses" id="t1Card8" src="/public/img/products/sunglasses-2.jpg"> <img id="t2Card8" src="/public/img/products/sunglasses-1.jpg "  alt="Blue and green effect sunglasses" > </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Regency Sunglasses
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Accessories</p>
      <h4 class="item-price">
        <strong>£ 29</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="1">
     <span>One Size</span></label> 
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>

<!--Card-->


<!--Card new-->

 <div data-size="1" data-price="16" data-category="10" id="10" class="card product vintage">
   <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard9" class="product-image card-img-top" src="/public/img/products/purse-2.jpg" 
        alt="Vintage style purse"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card9" src="/public/img/products/purse-1.jpg"   alt="Vintage style purse"> <img id="t2Card9" src="/public/img/products/purse-2.jpg"   alt="Vintage style purse"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Vintagelux Purse
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Vintage</p>
      <h4 class="item-price">
        <strong>£ 16</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="1">
     <span>One Size</span></label> 
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>
<!--Card-->


<!--Card new-->

 <div data-size="16" data-price="42" data-category="8" id="8" class="card product plus-size">
   <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard10" class="product-image card-img-top" src="/public/img/products/plus-size-2.jpg" 
        alt="Model with white jacket" > </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card10" src="/public/img/products/plus-size-2.jpg" alt="Model with white jacket" > <img id="t2Card10" src="/public/img/products/plus-size-1.jpg " alt="Model with white jacket" > </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Portler Jacket
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">+ Size</p>
      <h4 class="item-price">
        <strong>£ 42</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="16">
     <span>16</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="18"> 
        <span>18</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="20"> <span>20</span> </label>
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>



          

     <!--Card-->
     
 <div data-category="6" data-size="6" data-price="75" id="6" class="card product knitwear">

     <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard11" class="product-image card-img-top" src="/public/img/products/knitwear-2.jpg" 
        alt="Model with cream colour winter coat" > </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card11" src="/public/img/products/knitwear-1.jpg"   alt="Model with cream colour winter coat"> <img id="t2Card11" src="/public/img/products/knitwear-2.jpg "   alt="Model with cream colour winter coat"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Coativa
Winter Coat</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Knitwear</p>
      <h4 class="item-price">
        <strong>£ 75</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="6" >
     <span>6</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="8"> 
        <span>8</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="12"> <span>12</span> </label>
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>

          <!--Grid column-->

          <!--Fourth column-->
          

          <!--Card-->
 <div data-size="8" data-category="7" data-price="19" id="7" class="card product petticoat">
     <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard12" class="product-image card-img-top" src="/public/img/products/bikini-1.jpg" 
        alt="model with black and white bikini"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card12" src="/public/img/products/bikini2.jpg" alt="model with black and white bikini"> <img id="t2Card12" src="/public/img/products/bikini-1.jpg " alt="model with black and white bikini"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item"> Obsidian Bikini
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Petticoat</p>
      <h4 class="item-price">
        <strong>£ 19</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="8">
     <span>8</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="10"> 
        <span>10</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="12"> <span>12</span> </label>
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->

</div>
 <!--Fourth column-->
          

          <!--Card-->
 <div data-size="4" data-category="2" data-price="43" id="2" class="card product skirts">
     <!--Card image-->
        <div class="d-flex justify-content-center">          
      <img id="mainImageCard13" class="product-image card-img-top" src="/public/img/products/skirt-1.jpg" 
        alt="model in front of blue car with blue skirt"> </div> 
         <div class=" mt-2 thumbnail text-center"> <img id="t1Card13" src="/public/img/products/skirt-2.jpg"alt="model with blue skirt"> <img id="t2Card13" src="/public/img/products/skirt-1.jpg " alt="model in front of blue car with blue skirt"> </div>
    <!--Card image-->
    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a  class="i-title">
        <h5 class="product-title item">Ocean Skirt
</h5>
      </a>
      <div class="item-details">
         <p class="text-muted category-txt">Skirts</p>
      <h4 class="item-price">
        <strong>£ 43</strong>
      </h4>
 <div class="sizes mt-3">
  <h6 class="size">Size</h6>
  <label class="radio"> 
    <input class="input-size" type="radio" name="size" value="4">
     <span>4</span></label> 
     <label class="radio"> 
       <input class="input-size"  type="radio"
        name="size" value="6"> 
        <span>6</span> </label>
         <label class="radio"> 
  <input class="input-size" type="radio" name="size" value="8"> <span>8</span> </label>
</div>
      </div>
<button class="btn btn-lg add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add To Cart</button>
<input type="hidden" class="cart-item-quantity" type="text">
    </div>
    <!--Card content-->
            </div>

</div>
    </div>
    <!--Fourth column-->

</section>


</main>


    </div>
<script type="text/javascript" src="/public/main.js"></script>
<script type="text/javascript" src="/public/search.js"></script>
<script type="text/javascript" src="/public/sort.js"></script>
<footer>
  <%- include('./partials/footer'); %>
     </footer>
    

     </body>
     </html>