
<footer>
    <div class="container d-flex text-center">
      <div class="row">
   <div class="col-4">
    <div class="pr-xl-5"><a class="brand-2" href="/"><img class="logo-ft brand-logo-light" src="/public/img/logo.png" alt=""></a>
            <!-- Copyright-->
    <p class="copyr"><span class="copyr-text">©</span><span class=" copyr-text ">2021</span><span> </span><span class="copyr-text">Claudio Sapia</span><span class="copyr-text">. </span><span class="copyr-text">All Rights Reserved.</span></p>
          </div>
  </div>
      <div class="col-4">
    <p class="about-footer">Ellnot <br><br> We L<span class="highl">&hearts;</span>VE Your Style!. </p>
        </div>
        <div class="col-4">
          <ul class="link-list mt-6">
            <li class="f-link"><a href="/about">About Us</a></li>
      <li class="f-link"><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
      </div>
    </div>

    <div class="row mt-4 ">
      <div class="col-3"><a href="#"><span class="i-hover"><i class="fab fa-2x fa-facebook"></i></span></a></div>
      <div class="col-3"><a  href="#"><span class="soc i-hover"><i class="fab fa-2x fa-instagram"></i></span></a></div>
      <div class="col-3"><a  href="#"><span class="i-hover" ><i class="fab fa-2x fa-twitter-square"></i></span></a></div>
      <div class="col-3"><a  href="#"><span class="soc i-hover"><i class="fab fa-2x fa-google-plus-g"></i></span></a></div>
    </div>
  </footer>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>